<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>오늘만세워</title>
    <link rel="stylesheet" href="/css/common/main.css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/common/apiClient.js"></script>
</head>
<body>
<header>
    <div class="header-content">
        <div class="logo">
            <a href="/main" title="메인 페이지로 이동">
                <img src="../../image/common/icon_logo.png" alt="오늘만세워 로고">
                <span>오늘만세워</span>
            </a>
        </div>
        <div class="search-bar">
            <div class="address-selector">
                <span class="address-display">주소 선택</span>
                <div class="address-dropdown" style="display: none;">
                    <div class="address-list">
                        <!-- JavaScript로 주소 옵션들이 여기에 추가됩니다 -->
                    </div>
                </div>
            </div>
            <div class="divider" id="divider2"></div>
            <!-- 시간 선택 -->
            <div class="time-selector">
                <span class="time-display">시간</span>
                <div class="time-dropdown" style="display: none;">
                    <div class="time-list">
                        <!-- JavaScript로 시간 옵션들이 여기에 추가됩니다 -->
                    </div>
                </div>
            </div>
            <button class="search-button">
                <img src="../../image/common/search.svg" alt="검색">
            </button>
        </div>
        <div class="auth-section">
        </div>
    </div>
</header>
<div class="notice">
    <span>🚗 공지사항 🚗</span>
    <span id="noticeText" style="cursor: pointer;">오늘만세워에 오신 여러분 환영합니다.</span>
</div>
<!-- 공지사항 모달 -->
<div id="noticeModal" class="modal">
    <div class="frame-modal-notice">
        <div class="close-button" id="closeModal">&times;</div>
        <div class="header">공지사항</div>
        <table class="notice-table">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성일</th>
                <th class="toggle-button"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>7월 19일부터 오픈이벤트 참여하고 쿠폰받자!</td>
                <td>24/07/19</td>
                <td class="toggle-button" onclick="toggleContent(this)">&#x25BC;</td>
            </tr>
            <tr class="expandable-content">
                <td colspan="4" style="text-align: left;">
                    안녕하세요. 7월 19일부터 서비스를 오픈했습니다.<br>
                    오픈이벤트로 쿠폰을 받습~~~~<br>
                    ~~~~~~~
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- 카카오맵 -->
<main>
    <div class="map-container">
        <div id="map" style="width:100%;height:700px;"></div>
    </div>
</main>
<!-- 로그인 모달 -->
<div id="loginModal" class="modal">
    <div class="modal-login">
        <div class="modal-content">
            <button class="close-button" id="closeLoginModal">✕</button>
            <div class="logo">
                <img src="../../image/common/icon_logo.png" alt="오늘만세워 로고">
                <h1>오늘만세워</h1>
            </div>
            <form id="loginForm" onsubmit="return false;">
                <div class="input-group">
                    <label for="userid">아이디</label>
                    <input type="text" id="userid" name="email">
                </div>
                <div class="input-group">
                    <label for="password">비밀번호</label>
                    <input type="password" id="password" name="password">
                </div>
                <div class="forgot-password">
                    <a href="/join">계정이 없으신가요?</a>
                </div>
                <button type="submit" class="login-button">로그인</button>
                <div class="divider1">또는</div>
                <button type="button" class="kakao-login">카카오 로그인</button>
            </form>
        </div>
    </div>
</div>
<!-- 판매등록 모달 -->
<div id="registrationModal" class="modal" style="display: none;">
    <div class="frame-modal-registration">
        <div class="material-symbolscancel-outline" id="closeRegistrationModal">
            <img class="vector" src="../../image/common/close.svg" alt="Close">
        </div>
        <span class="text-modal-title">판매 등록</span>
        <div class="container-registration">
            <div class="container-car-number">
                <span class="text-title-car-number">차량번호</span>
                <div class="container-2">
                    <input type="text" class="text-input-car-number" placeholder="차량번호를 입력하세요" name="carNum">
                </div>
            </div>
            <div class="container-parking-number">
                <span class="text-title-parking-number">주차번호</span>
                <div class="container-2">
                    <input type="text" class="text-input-car-number-1" placeholder="주차번호를 입력하세요" name="parkNum">
                </div>
            </div>
            <div class="container-parking-number">
                <span class="text-title-parking-address">주소</span>
                <div class="container-2">
                    <input type="text" class="text-input-car-address-1" placeholder="주소를 입력하세요" name="parkAdd">
                </div>
            </div>
            <div class="container-time">
                <span class="text-title-time">시간</span>
                <div class="container-3">
                    <div class="time-selector start-time-selector">
                        <input type="text" class="time-input start-time-input" placeholder="시작 시간" readonly>
                        <div class="time-dropdown start-time-dropdown">
                            <div class="time-list start-time-list"></div>
                        </div>
                    </div>
                </div>
                <span class="text-wave">~</span>
                <div class="container-4">
                    <div class="time-selector end-time-selector">
                        <input type="text" class="time-input end-time-input" placeholder="종료 시간" readonly>
                        <div class="time-dropdown end-time-dropdown">
                            <div class="time-list end-time-list"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-time-price">
                <span class="text-title-time-price">시간당 가격</span>
                <div class="container-5">
                    <input type="text" class="text-input-time-price" placeholder="시간당 가격을 입력하세요" name="price">
                </div>
            </div>
            <div class="container-detail">
                <span class="text-title-detail">상세설명</span>
                <div class="container-1">
                    <textarea class="text-input-detail" placeholder="상세설명을 입력하세요" name="content"></textarea>
                </div>
            </div>
            <div class="container-image">
                <span class="text-title-image">이미지</span>
                <div class="box-input-upload-img">
                    <input type="file" id="imageUpload" accept="image/*" multiple>
                    <label for="imageUpload" class="upload-label">이미지 선택 (최대 3장)</label>
                    <div id="imagePreview" class="image-preview"></div>
                </div>
            </div>
            <div class="container-confirmation">
                <span class="text-title-confirmation">확인증</span>
                <div class="box-input-confirmation">
                    <input type="file" id="pdfUpload" accept=".pdf" style="display: none;">
                    <label for="pdfUpload" class="pdf-upload-label">PDF 업로드</label>
                </div>
                <div id="pdfFileName"></div>
            </div>
        </div>
        <div class="button-request">
            <span class="text-request">등록 요청</span>
        </div>
    </div>
</div>
<footer>
    <p>2024 오늘만세워 Inc. 개인정보 처리방침 이용약관 사이트맵 한국어 변경된 환율 정책 취소 세부정보</p>
    <p>웹사이트 제공자: RenToday Ireland UC, private unlimited company, 8 Hanover Quay Dublin 2, D02 DP23 Ireland | 이사: Dermot Clarke, Killian Pattwell, Andrea Finnegan | VAT 번호: IE9827384L |</p>
    <p>호스팅 서비스 제공업체: 아마존 웹서비스 | 사업자 등록 번호: IE 511825 | 연락처: byn1022@naver.com, 웹사이트, 080-000-0000 | 호스팅 서비스 제공업체 정보</p>
    <p>아이콘 이름이어트 출신번미 단사사기 아닙니다. 에어비앤비 플랫폼을 통하여 예약된 숙소, 체험, 호스트 서비스에 관한 에어비 책임은 제한적 서비스를 제공하는 조드트에게 있습니다.</p>
</footer>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=21a9c58904c9907bb95e9ebbf5a8e5e0"></script>
<script>
    document.addEventListener('DOMContentLoaded', async function() {
    const authSection = document.querySelector('.auth-section');
    let hasUnreadNotifications = false;
    let notifications = [];
    let allNotices = [];
    let latestNoticeTitle = "작성된 공지사항이 없습니다.";

    // 지도 초기화
    var mapContainer = document.getElementById('map');
    var mapOption = {
        center: new kakao.maps.LatLng(37.566826, 126.9786567),
        level: 3
    };
    var map = new kakao.maps.Map(mapContainer, mapOption);
    var markers = [];

    // UI 업데이트 함수
    async function updateUI() {
        const token = localStorage.getItem('Authorization');
        const authCookie = Cookies.get('Authorization');

        if (!token && !authCookie) {
            authSection.innerHTML = '<button class="login-button">로그인</button>';
        } else {
            try {
                const response = await api.get('/api/member/info');
                const userInfo = response.data;

                const profileImageSrc = userInfo.oauthId
                    ? `${userInfo.profileImage}`
                    : `/uploads/${userInfo.profileImage}`;

                authSection.innerHTML = `
                    <button class="icon-button panmaetotal">판매등록</button>
                    <div class="notification-container">
                        <button class="icon-button notification">
                            <img src="/image/common/notificationoff.svg" alt="알림" class="notification-icon" id="notificationIcon">
                        </button>
                        <div class="notification-dropdown" style="display: none;">
                            <div class="notification-list"></div>
                            <div class="view-all-notifications">
                                <button>모든 알림 보기</button>
                            </div>
                        </div>
                    </div>
                    <div class="profile-container">
                        <button class="icon-button profile">
                            <img src="${profileImageSrc}" alt="프로필" class="profile-image">
                        </button>
                        <div class="profile-dropdown" style="display: none;">
                            <button class="dropdown-item mypage">마이페이지</button>
                            <button class="dropdown-item logout">로그아웃</button>
                        </div>
                    </div>
                `;
                setupSSE();
                updateNotificationIcon();
                setupNotificationButton();
            } catch (error) {
                console.error('Failed to get user info:', error);
                authSection.innerHTML = '<button class="login-button">로그인</button>';
            }
        }
    }

    // SSE 설정
    function setupSSE() {
        const sseClient = new SSEClient(api.defaults.baseURL);
        sseClient.connect();
        sseClient.handleMessage = (data) => {
            console.log('Received notification:', data);
            hasUnreadNotifications = true;
            notifications.push(data);
            updateNotificationIcon();
            updateNotificationDropdown();
        };
    }

    // 알림 아이콘 업데이트
    function updateNotificationIcon() {
        const notificationIcon = document.getElementById('notificationIcon');
        if (notificationIcon) {
            notificationIcon.src = hasUnreadNotifications
                ? "/image/common/notificationon.svg"
                : "/image/common/notificationoff.svg";
        }
    }

    // 알림 버튼 설정
    function setupNotificationButton() {
        const notificationButton = document.querySelector('.icon-button.notification');
        const notificationDropdown = document.querySelector('.notification-dropdown');
        notificationButton.addEventListener('click', () => {
            notificationDropdown.style.display = notificationDropdown.style.display === 'none' ? 'flex' : 'none';
            if (notificationDropdown.style.display === 'flex') {
                updateNotificationDropdown();
            }
        });
    }

    // 알림 드롭다운 업데이트
    function updateNotificationDropdown() {
        const notificationList = document.querySelector('.notification-list');
        if (notifications.length === 0) {
            notificationList.innerHTML = '<div class="no-notifications">표시할 알림이 없습니다.</div>';
        } else {
            notificationList.innerHTML = notifications.map(notification => `
                <div class="notification-item">${notification.message}</div>
            `).join('');
        }
    }

    // 공지사항 가져오기 및 업데이트
    async function fetchAndUpdateNotices() {
        try {
            const response = await api.get('/api/notice/readAll');
            allNotices = response.data;
            if (allNotices.length > 0) {
                latestNoticeTitle = allNotices[allNotices.length - 1].title;
            }
            updateNoticeUI();
        } catch (error) {
            console.error('Failed to fetch notices:', error);
        }
    }

    // 공지사항 모달 업데이트 함수 추가
    function updateNoticeModal(notices) {
        const tbody = document.querySelector('#noticeModal .notice-table tbody');
        if (!tbody) return;

        tbody.innerHTML = ''; // 기존 내용 초기화

        if (notices.length === 0) {
            // 공지사항이 없는 경우
            const tr = document.createElement('tr');
            tr.innerHTML = '<td colspan="4" style="text-align: center;">작성된 공지사항이 없습니다.</td>';
            tbody.appendChild(tr);
        } else {
            // 공지사항이 있는 경우, 기존 로직 실행
            notices.forEach((notice, index) => {
                const tr = document.createElement('tr');
                tr.innerHTML = `
                    <td>${notices.length - index}</td>
                    <td>${notice.title}</td>
                    <td>${formatDate(notice.createdAt)}</td>
                    <td class="toggle-button" onclick="toggleContent(this)">&#x25BC;</td>
                `;
                tbody.appendChild(tr);

                const contentTr = document.createElement('tr');
                contentTr.className = 'expandable-content';
                contentTr.style.display = 'none';
                contentTr.innerHTML = `
                    <td colspan="4" style="text-align: left;">
                        ${notice.content.replace(/\n/g, '<br>')}
                    </td>
                `;
                tbody.appendChild(contentTr);
            });
        }

        // 모달에 스크롤 추가 (공지사항이 있을 때만)
        const noticeTable = document.querySelector('#noticeModal .notice-table');
        if (notices.length > 0) {
            noticeTable.style.maxHeight = '400px';
            noticeTable.style.overflowY = 'auto';
        } else {
            noticeTable.style.maxHeight = 'none';
            noticeTable.style.overflowY = 'visible';
        }
    }

    // 날짜 포맷 함수 추가
    function formatDate(dateString) {
        const date = new Date(dateString);
        const year = date.getFullYear().toString().slice(-2);
        const month = (date.getMonth() + 1).toString().padStart(2, '0');
        const day = date.getDate().toString().padStart(2, '0');
        return `${year}/${month}/${day}`;
    }

     // 공지사항 아코디언 토글 함수 추가
    window.toggleContent = function(button) {
        const row = button.closest('tr');
        const nextRow = row.nextElementSibling;
        const isExpanded = nextRow.style.display === 'table-row';
        if (isExpanded) {
            nextRow.style.display = 'none';
            button.innerHTML = '&#x25BC;'; // Down arrow
        } else {
            nextRow.style.display = 'table-row';
            button.innerHTML = '&#x25B2;'; // Up arrow
        }
    }

    // 공지사항 UI 업데이트 함수 수정
    function updateNoticeUI() {
        const noticeText = document.getElementById('noticeText');
        if (noticeText) {
            noticeText.textContent = latestNoticeTitle;
        }
        updateNoticeModal(allNotices);
        setupNoticeListeners();
    }


    // 공지사항 리스너 설정 함수 수정
    function setupNoticeListeners() {
        const noticeText = document.getElementById('noticeText');
        const modal = document.getElementById('noticeModal');
        const closeModal = document.getElementById('closeModal');
        if (noticeText && modal && closeModal) {
            noticeText.addEventListener('click', () => {
                modal.style.display = 'flex';
            });
            closeModal.addEventListener('click', () => {
                modal.style.display = 'none';
            });
            window.addEventListener('click', (event) => {
                if (event.target == modal) {
                    modal.style.display = 'none';
                }
            });
        }
    }

    // 시간 선택 드롭다운 설정
    function setupTimeDropdown() {
        const timeDisplay = document.querySelector('.time-display');
        const timeDropdown = document.querySelector('.time-dropdown');
        const timeList = document.querySelector('.time-list');

        for (let i = 0; i < 24; i++) {
            const timeOption = document.createElement('div');
            timeOption.classList.add('time-option');
            timeOption.textContent = `${i.toString().padStart(2, '0')}:00`;
            timeOption.addEventListener('click', function() {
                timeDisplay.textContent = this.textContent;
                timeDropdown.style.display = 'none';
            });
            timeList.appendChild(timeOption);
        }

        timeDisplay.addEventListener('click', () => {
            timeDropdown.style.display = timeDropdown.style.display === 'none' ? 'block' : 'none';
        });

        document.addEventListener('click', (event) => {
            if (!timeDisplay.contains(event.target) && !timeDropdown.contains(event.target)) {
                timeDropdown.style.display = 'none';
            }
        });
    }

    // 주소 선택 드롭다운 설정
function setupAddressDropdown() {
    const addressDisplay = document.querySelector('.address-display');
    const addressDropdown = document.querySelector('.address-dropdown');
    const addressList = document.querySelector('.address-list');

    const addresses = [
        "강남구", "강동구", "강북구", "강서구", "관악구", "광진구", "구로구", "금천구", "노원구",
        "도봉구", "동대문구", "동작구", "마포구", "서대문구", "서초구", "성동구", "성북구", "송파구",
        "양천구", "영등포구", "용산구", "은평구", "종로구", "중구", "중랑구"
    ];

    addresses.forEach(address => {
        const addressOption = document.createElement('div');
        addressOption.classList.add('address-option');
        addressOption.textContent = address;
        addressOption.addEventListener('click', function() {
            addressDisplay.textContent = this.textContent;
            addressDropdown.style.display = 'none';
        });
        addressList.appendChild(addressOption);
    });

    addressDisplay.addEventListener('click', () => {
        addressDropdown.style.display = addressDropdown.style.display === 'none' ? 'block' : 'none';
    });

    document.addEventListener('click', (event) => {
        if (!addressDisplay.contains(event.target) && !addressDropdown.contains(event.target)) {
            addressDropdown.style.display = 'none';
        }
    });
}

    // 로그인 모달 초기화
    function initializeLoginModal() {
        const loginButton = document.querySelector('.auth-section .login-button');
        const loginModal = document.getElementById('loginModal');
        const closeLoginModal = document.getElementById('closeLoginModal');

        if (loginButton) {
            loginButton.addEventListener('click', (e) => {
                e.preventDefault();
                if (loginModal) loginModal.style.display = 'flex';
            });
        }

        if (closeLoginModal) {
            closeLoginModal.addEventListener('click', () => loginModal.style.display = 'none');
        }

        window.addEventListener('click', (event) => {
            if (event.target == loginModal) loginModal.style.display = 'none';
        });

        const loginForm = document.getElementById('loginForm');
        if (loginForm) {
            loginForm.addEventListener('submit', (e) => {
                e.preventDefault();
                const email = document.getElementById('userid').value;
                const password = document.getElementById('password').value;
                loginUser(email, password);
            });
        }
    }

    // 로그인 요청 함수
    function loginUser(email, password) {
        axios.post('/api/member/login', { email, password }, { withCredentials: true })
            .then((response) => {
                const authToken = response.headers['authorization'];
                if (authToken) {
                    localStorage.setItem('Authorization', authToken);
                    console.log('로그인 성공');
                    window.location.href = '/main';
                } else {
                    console.warn('Authorization 헤더가 없습니다.');
                    alert('로그인은 성공했지만, 인증 토큰을 받지 못했습니다.');
                }
            })
            .catch((error) => {
                console.error('로그인 실패:', error);
                alert('로그인 실패: ' + error.message);
            });
    }

    // 카카오 로그인 설정
    function setupKakaoLogin() {
        const kakaoLoginBtn = document.querySelector('.kakao-login');
        kakaoLoginBtn.addEventListener('click', () => {
            window.location.href = `http://localhost:81/oauth2/authorization/kakao`;
        });
    }

    function loadParkingInfo() {
    api.get('/api/parks/all')
        .then(function(response) {
            displayParkingMarkers(response.data);
        })
        .catch(function(error) {
            console.error("주차장 정보를 불러오는데 실패했습니다:", error);
        });
}

    // 주차장 정보 필터링
    function filterParkingInfo() {
    const address = document.querySelector('.address-display').textContent;
    const time = document.querySelector('.time-display').textContent;

    if (address === '주소 선택' || time === '시간') {
        alert('주소와 시간을 모두 선택해주세요.');
        return;
    }

    api.get('/api/parks/filter', { params: { address, time } })
        .then((response) => {
            console.log('API Response:', response.data);
            clearMarkers();
            displayParkingMarkers(response.data.parks);

                moveMapToDistrict(response.data);

                console.log('No parks found');

        })
        .catch((error) => console.error("필터링된 주차장 정보를 불러오는데 실패했습니다:", error));
}

function moveMapToDistrict(districtInfo) {
    var moveLatLon = new kakao.maps.LatLng(districtInfo.districtLatitude, districtInfo.districtLongitude);
    map.panTo(moveLatLon);
}

    // 주차장 마커 표시
    function displayParkingMarkers(parkingInfos) {
    parkingInfos.forEach((info) => {
        const markerPosition = new kakao.maps.LatLng(info.latitude, info.longitude);

        // 커스텀 오버레이 컨텐츠 생성
        const content = document.createElement('div');
        content.className = 'custom-overlay';
        content.innerHTML = `
            <div class="price-box">
                <span class="currency">₩</span><span class="price">${info.price}</span>
            </div>
            <span class="tail"></span>
        `;

        // 클릭 이벤트 리스너 추가
        content.addEventListener('click', () => {
            window.location.href = `/detail?parkId=${info.id}`;
        });

        // 커스텀 오버레이 생성
        const customOverlay = new kakao.maps.CustomOverlay({
            position: markerPosition,
            content: content,
            xAnchor: 0.5,
            yAnchor: 1.3
        });

        // 지도에 커스텀 오버레이 추가
        customOverlay.setMap(map);

        // 마커 배열에 추가 (나중에 제거할 때 사용)
        markers.push(customOverlay);
    });
}

    // 마커 제거
    function clearMarkers() {
        markers.forEach(marker => marker.setMap(null));
        markers = [];
    }


    // 첫 번째 주차장 위치로 지도 중심 이동
    function moveMapToFirstParking(parkingInfo) {
    var moveLatLon = new kakao.maps.LatLng(parkingInfo.latitude, parkingInfo.longitude);

    // 지도 중심을 부드럽게 이동시킵니다
    map.panTo(moveLatLon);
}


    function setupProfileDropdown() {
        const profileButton = document.querySelector('.icon-button.profile');
        const profileDropdown = document.querySelector('.profile-dropdown');

        if (profileButton && profileDropdown) {
            profileButton.addEventListener('click', (e) => {
                e.stopPropagation(); // 이벤트 버블링 방지
                profileDropdown.style.display = profileDropdown.style.display === 'none' ? 'flex' : 'none';
            });

            // 드롭다운 외부 클릭 시 닫기
            document.addEventListener('click', (e) => {
                if (!profileButton.contains(e.target) && !profileDropdown.contains(e.target)) {
                    profileDropdown.style.display = 'none';
                }
            });

            // 드롭다운 아이템 클릭 이벤트
            const myPageButton = profileDropdown.querySelector('.dropdown-item.mypage');
            const logoutButton = profileDropdown.querySelector('.dropdown-item.logout');

            if (myPageButton) {
                myPageButton.addEventListener('click', () => {
                    // 마이페이지로 이동
                    window.location.href = '/mypage';
                });
            }

            if (logoutButton) {
                logoutButton.addEventListener('click', () => {
                    // 로그아웃 처리
                    logout();
                });
            }
        }
    }

    function logout() {
    api.post('/logout')
        .then(() => {
            // 로컬 스토리지에서 Authorization 토큰 삭제
            localStorage.removeItem('Authorization');

            // 쿠키에서 Authorization 및 Refresh 토큰 삭제
            Cookies.remove('Authorization');
            Cookies.remove('Refresh');

            // 메인 페이지로 리다이렉트
            window.location.href = '/main';
        })
        .catch(error => {
            console.error('로그아웃 실패:', error);
            alert('로그아웃 중 오류가 발생했습니다.');
        });
}

//

function setupRegistrationModal() {
    const registrationButton = document.querySelector('.icon-button.panmaetotal');
    const registrationModal = document.getElementById('registrationModal');
    const closeRegistrationModal = document.getElementById('closeRegistrationModal');
    const pdfUpload = registrationModal.querySelector('#pdfUpload');
    const pdfFileName = registrationModal.querySelector('#pdfFileName');
    const pdfUploadLabel = registrationModal.querySelector('.pdf-upload-label');
    const requestButton = registrationModal.querySelector('.button-request');
    const imageUpload = registrationModal.querySelector('#imageUpload');
    const imagePreview = registrationModal.querySelector('#imagePreview');

    if (pdfUpload && pdfFileName && pdfUploadLabel) {
        pdfUpload.addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                if (file.type === 'application/pdf') {
                    pdfFileName.textContent = file.name;
                    pdfUploadLabel.textContent = '파일 변경';
                } else {
                    alert('PDF 파일만 업로드 가능합니다.');
                    pdfUpload.value = ''; // 파일 선택 초기화
                }
            } else {
                pdfFileName.textContent = '';
                pdfUploadLabel.textContent = 'PDF 업로드';
            }
        });
    }

    if (registrationButton && registrationModal && closeRegistrationModal) {
        registrationButton.addEventListener('click', function() {
            registrationModal.style.display = 'flex';
        });

        closeRegistrationModal.addEventListener('click', function() {
            registrationModal.style.display = 'none';
        });

        window.addEventListener('click', function(event) {
            if (event.target == registrationModal) {
                registrationModal.style.display = 'none';
            }
        });

        if (requestButton) {
            requestButton.addEventListener('click', function() {
                console.log('등록 요청');

                // 폼 데이터 수집
                const carNum = registrationModal.querySelector('[name="carNum"]').value;
                const parkNum = registrationModal.querySelector('[name="parkNum"]').value;
                const parkAdd = registrationModal.querySelector('[name="parkAdd"]').value;
                const startTime = registrationModal.querySelector('.start-time-input').value;
                const endTime = registrationModal.querySelector('.end-time-input').value;
                const price = registrationModal.querySelector('[name="price"]').value;
                const content = registrationModal.querySelector('[name="content"]').value;
                const imageFiles = imageUpload.files;
                const pdfFile = pdfUpload.files[0];

                // FormData 객체 생성
                const formData = new FormData();
                const keyData = {
                    carNum: carNum,
                    parkNum: parkNum,
                    parkAdd: parkAdd,
                    startTime: startTime,
                    endTime: endTime,
                    price: price,
                    content: content
                };

                formData.append('key', new Blob([JSON.stringify(keyData)], { type: 'application/json' }));

                // 이미지 파일 추가
                for (let i = 0; i < imageFiles.length; i++) {
                    formData.append('photo', imageFiles[i]);
                }

                // PDF 파일 추가
                if (pdfFile) {
                    formData.append('pdf', pdfFile);
                }

                // API 요청 보내기
                api.post('/api/parks', formData, {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(response => {
                    console.log('등록 성공:', response.data);
                    alert('주차장이 성공적으로 등록되었습니다.');
                    registrationModal.style.display = 'none'; // 모달 닫기
                    loadParkingInfo(); // 주차장 정보 새로고침
                })
                .catch(error => {
                    if (error.response) {
                        // 서버가 응답한 에러
                        alert(error.response.data);
                    } else {
                        // 요청을 보내지 못한 경우의 에러
                        alert('등록 중 오류가 발생했습니다. 다시 시도해주세요.');
                    }
                    console.error('Error:', error);
                });
            });
        }

        if (imageUpload && imagePreview) {
            imageUpload.addEventListener('change', function(event) {
                imagePreview.innerHTML = ''; // 기존 미리보기 초기화
                const files = event.target.files;

                for (let i = 0; i < Math.min(files.length, 3); i++) {
                    const file = files[i];
                    if (file.type.startsWith('image/')) {
                        const img = document.createElement('img');
                        img.src = URL.createObjectURL(file);
                        img.style.width = '100px';
                        img.style.height = '100px';
                        img.style.objectFit = 'cover';
                        img.style.margin = '5px';
                        imagePreview.appendChild(img);
                    }
                }

                if (files.length > 3) {
                    alert('최대 3장의 이미지만 선택할 수 있습니다.');
                }
            });
        }
    } else {
        console.error('판매등록 모달 요소를 찾을 수 없습니다.');
    }
}


function setupTimeSelectors() {
    const startTimeInput = document.querySelector('.start-time-input');
    const startTimeDropdown = document.querySelector('.start-time-dropdown');
    const startTimeList = document.querySelector('.start-time-list');
    const endTimeInput = document.querySelector('.end-time-input');
    const endTimeDropdown = document.querySelector('.end-time-dropdown');
    const endTimeList = document.querySelector('.end-time-list');

    function createTimeOptions(container, isEndTime = false) {
        container.innerHTML = '';
        for (let i = 0; i < 24; i++) {
            const timeOption = document.createElement('div');
            timeOption.classList.add('time-option');
            timeOption.textContent = `${i.toString().padStart(2, '0')}:00`;
            timeOption.addEventListener('click', function() {
                if (isEndTime) {
                    endTimeInput.value = this.textContent;
                    endTimeDropdown.style.display = 'none';
                } else {
                    startTimeInput.value = this.textContent;
                    startTimeDropdown.style.display = 'none';
                    updateEndTimeOptions(i);
                }
            });
            container.appendChild(timeOption);
        }
    }

    function updateEndTimeOptions(startHour) {
        createTimeOptions(endTimeList, true);
        const endTimeOptions = endTimeList.querySelectorAll('.time-option');
        endTimeOptions.forEach((option, index) => {
            if (index <= startHour) {
                option.style.display = 'none';
            } else {
                option.style.display = 'block';
            }
        });
    }

    createTimeOptions(startTimeList);
    createTimeOptions(endTimeList, true);

    startTimeInput.addEventListener('click', () => {
        startTimeDropdown.style.display = startTimeDropdown.style.display === 'none' ? 'block' : 'none';
    });

    endTimeInput.addEventListener('click', () => {
        endTimeDropdown.style.display = endTimeDropdown.style.display === 'none' ? 'block' : 'none';
    });

    document.addEventListener('click', (event) => {
        if (!startTimeInput.contains(event.target) && !startTimeDropdown.contains(event.target)) {
            startTimeDropdown.style.display = 'none';
        }
        if (!endTimeInput.contains(event.target) && !endTimeDropdown.contains(event.target)) {
            endTimeDropdown.style.display = 'none';
        }
    });
}


    // 초기화 및 이벤트 리스너 설정
    await updateUI();
    await fetchAndUpdateNotices();
    setupTimeDropdown();
    setupAddressDropdown()
    initializeLoginModal();
    setupKakaoLogin();
    loadParkingInfo();
    setupProfileDropdown(); // 프로필 드롭다운 설정 추가
    setupRegistrationModal(); // 판매등록 모달 설정 추가
    setupTimeSelectors();

    // 검색 버튼 이벤트 리스너
    document.querySelector('.search-button').addEventListener('click', filterParkingInfo);
});
</script>
</body>
</html>
