.frame-header-online {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 2px 78px 15px 2.5px;
  width: 1920px;
  box-sizing: border-box;
}
.frame-header-online .container-profile {
  background: url('../images/profile.svg') 50% / cover no-repeat;
  margin-top: 23px;
  width: 63px;
  height: 62.7px;
}
.frame-header-online .container-logo {
  margin: 22px 0 12px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.frame-header-online .icon-logo {
  background: url('../images/icon_logo.png') 50% / cover no-repeat;
  margin-right: 1px;
  width: 57px;
  height: 64px;
}
.frame-header-online .text-logo-name {
  margin: 11px 0 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-size: 32px;
  color: #20A43D;
}
.frame-header-online .box-search {
  box-shadow: 0px 1px 4px 0px rgba(38, 36, 36, 0.85);
    background: url('../images/icon_logo.png') 50% / cover no-repeat;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 1018px;
  height: 81px;
}
.frame-header-online .group-icon-search {
  background: url('../images/icon_logo.png') 50% / cover no-repeat;
  position: relative;
  margin: 5px 0;
  width: 60px;
  height: 60px;
}
.frame-header-online .line-search-no-1 {
  background: #DDDDDD;
  margin-right: 23px;
  width: 70px;
  height: 0px;
}
.frame-header-online .text-search-time {
  margin: 18px 0px 18px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 28px;
  color: #DDDDDD;
}
.frame-header-online .text-search-adress {
  position: relative;
  margin: 18px 17px 18px 0;
  display: inline-block;
  width: 432px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 28px;
  color: #DDDDDD;
}
.frame-header-online .text-notice {
  margin-right: 12px;
  width: 124px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.frame-header-online .text-notice-title {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.frame-header-online .icon-notification-off {
  background: url('../images/notificationoff.svg') 50% / cover no-repeat;
  margin-bottom: 6.5px;
  width: 30.1px;
  height: 33.5px;
}
.frame-header-online .icon-notification-off-1 {
  background: url('../images/notificationon.svg') 50% / cover no-repeat;
  width: 30.1px;
  height: 33.5px;
}
.frame-header-online .hugeiconsnotification-02 {
  background: url('../images/icon_logo.png') 50% / cover no-repeat;
  margin-right: 5px;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.frame-header-online .group {
  background: url('../images/icon_logo.png') 50% / cover no-repeat;
  width: 19px;
  height: 20px;
}
.frame-header-online .hugeiconsnotification-021 {
  background: url('../images/icon_logo.png') 50% / cover no-repeat;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.frame-header-online .group-1 {
  background: url('../images/icon_logo.png') 50% / cover no-repeat;
  width: 19px;
  height: 20px;
}
.frame-header-online .container-search {
  position: relative;
  margin-top: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 14px 6px 37px;
  width: 1018px;
  height: fit-content;
  box-sizing: border-box;
}
.frame-header-online .container-notice {
  margin-right: 87.3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 536px;
  box-sizing: border-box;
}
.frame-header-online .text-button-sales {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-size: 22px;
  color: #FFFFFF;
}
.frame-header-online .button-sales {
  border-radius: 30px;
  background: #00B202;
  position: relative;
  margin: 32px 18px 2.7px 0;
  display: flex;
  padding: 12px 10px;
  box-sizing: border-box;
}
.frame-header-online .container-1 {
  margin: 0 17.9px 12.2px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30.1px;
  height: fit-content;
  box-sizing: border-box;
}
.frame-header-online .container-2 {
  margin-bottom: 12.3px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.frame-header-online .container-3 {
  margin: 0 0 17px 66.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1773px;
  box-sizing: border-box;
}
.frame-header-online .container-4 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}