<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주차구역 관리 등록</title>
</head>
<body>
<div class="frame-modal-registration">
    <div class="material-symbolscancel-outline">
        <img class="vector" src="../assets/vectors/Unknown" />
    </div>
    <div class="container-registration">
        <div class="text-modal-title">
            주차구역 판매 등록
        </div>
        <div class="container-car-number">
            <div class="text-title-car-number">
                차량번호
            </div>
            <div class="container-6">
        <span class="text-input-car-number">
          12가1234
        </span>
            </div>
        </div>
        <div class="container-parking-number">
            <div class="text-title-parking-number">
                구획번호
            </div>
            <div class="container-5">
        <span class="text-input-car-number-1">
          12가1234
        </span>
            </div>
        </div>
        <div class="container-time">
            <div class="container">
                <div class="text-title-time">
                    시간
                </div>
                <div class="container-4">
          <span class="text-input-end-time">
            09:00
          </span>
                </div>
            </div>
            <div class="text-wave">
                ~
            </div>
            <div class="container-3">
        <span class="text-input-start-time">
          09:00
        </span>
            </div>
        </div>
        <div class="container-time-price">
            <div class="text-title-time-price">
                시간당 요금
            </div>
            <div class="container-2">
        <span class="text-input-time-price">
          3000
        </span>
            </div>
        </div>
        <div class="container-detail">
            <div class="text-title-detail">
                상세설명
            </div>
            <div class="container-1">
        <span class="text-input-detail">
          12가1234
        </span>
            </div>
        </div>
        <div class="container-image">
            <div class="text-title-image">
                이미지
            </div>
            <div class="box-input-upload-img">
            </div>
        </div>
        <div class="container-confirmation">
            <div class="text-title-confirmation">
                소유확인증
            </div>
            <div class="box-input-confirmation">
            </div>
        </div>
    </div>
    <div class="button-request">
    <span class="text-request">
      판매신청
    </span>
    </div>
</div>
</body>
</html>